html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root{
  --font-size: 18px;
  --radius-bento-grid:5px
}

@font-face {
  font-family: DM Sans reguler;
  src: url("./assets/fonts/static/DMSans-Regular.ttf");
}



body{
  font-family:'DM Sans reguler';
}

.grid-container{
  display: grid;
  place-content: center;

} 

.grid-layout{
  display: grid;
  grid-template-columns: repeat(4, 29%) ;
  grid-template-rows: repeat(4, 25%) ;
  margin-top: 5%;
  gap: 10px;
}

.create-post{
  padding-top: 12%;
  padding-bottom: 25rem;
  grid-row: 1 / span 2;
  background-color: #F9EEE2;
  /* padding-right: 90px; */
  padding-left: 20px;
  border-radius: var(--radius-bento-grid);
}

.create-post h1{
  padding-bottom: 20%;
}

.create-post img{

}

.five-stars{
  grid-column: 2 / span 2; 
  /* place-self: center;  */
  /* margin: auto; */
  background-color: #7651DD;
  padding: 5%;
  padding-bottom: 53%;
  border-radius: var(--radius-bento-grid);
  /* padding-left: 20%;
  padding-right: 10%; */
  /* width: 160%; */
  text-align: center;
}

.five-stars h1{
  color: white;
  /* font-size: var(--font-size); */
  font-size: 3rem;
  padding-bottom: 5%;
}

.five-stars h3{
  color: white;
}

.schedule-posts{
  background-color: #DDD1FC;  
  padding: 5%;
  grid-column-start:4;
  grid-row-start: span 3; 
  border-radius: var(--radius-bento-grid);
  /* padding-left: 5%; */
  padding-bottom: 25rem;
}

.schedule-posts h1, .schedule-posts h3{
  padding-left: 5%;

}
.schedule-posts h1{
  padding-top: 11%;
}